---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/AirQuality?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - AirQuality
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '3600.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - AirQuality_Get
      X-Api:
      - AirQuality
    body:
      encoding: ASCII-8BIT
      string: '{"$id":"1","$type":"Tfl.Api.Presentation.Entities.LondonAirForecast,
        Tfl.Api.Presentation.Entities","updatePeriod":"hourly","updateFrequency":"1","forecastURL":"http://londonair.org.uk/forecast","disclaimerText":"This
        forecast is intended to provide information on expected pollution levels in
        areas of significant public exposure. It may not apply in very specific locations
        close to unusually strong or short-lived local sources of pollution.","currentForecast":[{"$id":"2","$type":"Tfl.Api.Presentation.Entities.CurrentForecast,
        Tfl.Api.Presentation.Entities","forecastType":"Current","forecastID":"29868","publishedDate":"2020-09-12T13:15:00Z","fromDate":"2020-11-12T00:00:00Z","toDate":"2020-11-12T23:59:00Z","forecastBand":"Low","forecastSummary":"Low
        air pollution forecast valid from Friday 11 December to end of Friday 11 December
        GMT","nO2Band":"Low","o3Band":"Low","pM10Band":"Low","pM25Band":"Low","sO2Band":"Low","forecastText":"Friday
        is forecast to be somewhat brighter than previous days with temperatures around
        10 degrees and the potential for some showers.&lt;br/&gt;&lt;br/&gt;The low
        pressure system centred over the north Atlantic becomes more dominant on Friday
        and this will see a return to more normal south-westerly air flow.&lt;br/&gt;&lt;br/&gt;This
        should aid dispersion and keep pollution &#39;Low&#39; through Friday for
        the following pollutants:&lt;br/&gt;&lt;b[...]
