---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Journey/JourneyResults/51.5007292,-0.1246254/to/Piccadilly%20Circus%20Station?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&nationalSearch=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - ItineraryResult, DisambiguationResult, Mode, StopPoint, Place, Disruption,
        PlannedWorks, Line, LineStatus
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult,
        Tfl.Api.Presentation.Entities","journeys":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Journey,
        Tfl.Api.Presentation.Entities","startDateTime":"2017-05-13T18:45:00","duration":18,"arrivalDateTime":"2017-05-13T19:03:00","legs":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg,
        Tfl.Api.Presentation.Entities","duration":8,"instruction":{"$type":"Tfl.Api.Presentation.Entities.Instruction,
        Tfl.Api.Presentation.Entities","summary":"Walk to Westminster","detailed":"Walk
        to Westminster","steps":[{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"New Palace Yard for 91 metres","turnDirection":"STRAIGHT","streetName":"New
        Palace Yard","distance":91,"cumulativeDistance":91,"skyDirection":364,"skyDirectionDescription":"North","cumulativeTravelTime":82,"latitude":51.50065320387,"longitude":-0.12488870556000001,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"},"descriptionHeading":"Continue along ","trackType":"None"},{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"on to Parliament Square, continue
        for 39 metres","turnDirection":"RIGHT","streetName":"Parliament Square","distance":39,"cumulativeDistance":130,"skyDirection":360,"skyDirectionDescription":"North","cumulativeTravelTime":116,"latitude":51.50067322624,"longitude":-0.12614138795000002,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"},"descriptionHeading":"Turn right","trackType":"None"},{"$type":"Tfl.Api.Presentation.Entities.InstructionStep,
        Tfl.Api.Presentation.Entities","description":"on to Bridge Street, continue
        for 81 metres","turnDirection":"RIGHT","streetName":"Bridge Street","distance":81,"cumulativeDistance":211,"skyDirection":454,"skyDirectionDescription":"North","cumulativeTravelTime":187,"latitude":51.50102347553,"longitude":-0.12611261298,"pathAttribute":{"$type":"Tfl.Api.Presentation.Entities.PathAttribute,
        Tfl.Api.Presentation.Entities"},"descriptionHeading":"Turn right","trackType":"None"}]},"obstacles":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Obstacle,
        Tfl.Api.Presentation.Entities","type":"STAIRS","incline":"DOWN","stopId":1000266,"position":"IDEST"},{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Obstacle,
        Tfl.Api.Presentation.Entities","type":"STAIRS","incline":"DOWN","stopId":1000266,"position":"IDEST"}],"departureTime":"2017-05-13T18:45:00","arrivalTime":"2017-05-13T18:53:00","departurePoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","platformName":"","icsCode":"99999997","commonName":"1
        New Palace Yard, Westminster","placeType":"StopPoint","additionalProperties":[],"lat":51.50065320387,"lon":-0.12488870556000001},"arrivalPoint":{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"940GZZLUWSM","platformName":"","icsCode":"1000266","commonName":"Westminster
        Underground Station","placeType":"StopPoint","additionalProperties":[],"lat":51.50125484855,"lon":-0.12483519366000001},"path":{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Path,
        Tfl.Api.Presentation.Entities","lineString":"[[51.50065320387, -0.12488870556],[51.5007186325,
        -0.12560642546],[51.50063198767, -0.12581169363],[51.50067322624, -0.12614138795],[51.5008799192,
        -0.12613290971],[51.50102347553, -0.12611261298],[51.50098662095, -0.12549457244],[51.50095990085,
        -0.1249481578],[51.50095091421, -0.12494852665],[51.50095091421, -0.12494852665],[51.50112304169,
        -0.1250279111],[51.50125484855, -0.12483519366]]","stopPoints":[],"elevation":[]},"routeOptions":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.RouteOption,
        Tfl.Api.Presentation.Entities","name":"","directions":[""]}],"mode":{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"walking","name":"walking","type":"Mode"},"disruptions":[],"plannedWorks":[],"distance":211.0,"isDisrupted":false,"hasFixedLocations":true},{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg,
        Tfl.Api.Presentation.Entities","duration":1,"instruction":{"$type":"Tfl.Api.Presentation.Entities.Instruction,
        Tfl.Api.Presentation.Entities","summary":"District line to Embankment","detailed":"District
        line towards Upminster, or Barking","steps":[]},"obstacles":[{"$type":"Tfl.Api.Presentation.Entities.JourneyPlanner.Obstacle,
        Tfl.Api.Presentation.Entities","type":"STAIRS","incline":"DOWN","stopId":[...]
