---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/CycleSuperhighway/RMP-006?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-No-Smaxage:
      - 'true'
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '10.000'
      X-Ttl-Rule:
      - '1'
      X-Operation:
      - wildcard
      X-Api:
      - ReleasedUnifiedAPIProd
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.ApiError, Tfl.Api.Presentation.Entities","timestampUtc":"2020-12-11T20:25:47.5651801Z","name":"Internal","exceptionType":"AutoMapperMappingException","httpStatusCode":500,"httpStatus":"InternalServerError","relativeUri":"/CycleSuperhighway/RMP-006?app_id=ce20db467e924a39996ad9706d0a4eab&app_key=cf43fb5647e14e0881674cfa7272339a","message":"An
        internal server error occurred."}'
  recorded_at: Fri, 11 Dec 2020 20:26:02 GMT
recorded_with: VCR 6.0.0
