---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/CycleSuperhighway?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - CycleSuperhighway
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - wildcard
      X-Api:
      - ReleasedUnifiedAPIProd
    body:
      encoding: ASCII-8BIT
      string: '[{"$id":"1","$type":"Tfl.Api.Presentation.Entities.CycleSuperhighway,
        Tfl.Api.Presentation.Entities","id":"1","label":"Quietway Link","labelShort":"","geography":{"type":"MultiLineString","coordinates":[[[-0.1176373153,51.5204126803],[-0.1179294291,51.5209118353],[-0.1180197529,51.5210691575],[-0.1180824982,51.5211848666],[-0.1181941566,51.5214086123],[-0.1182743126,51.5215546427],[-0.1185984788,51.5221145392],[-0.1187850929,51.5224199761],[-0.1190192145,51.5228133726],[-0.1193186817,51.5233353126]],[[-0.1218556303,51.5229892671],[-0.1221786505,51.5235187105],[-0.1222037181,51.5235619945],[-0.1222181426,51.5235908143],[-0.1222236032,51.52360563],[-0.1222259797,51.5236221796],[-0.1222243644,51.[...]
