---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint/Search?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&query=St.%20James
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Place
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '604800.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - BikePoint_Search
      X-Api:
      - BikePoint
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Place, Tfl.Api.Presentation.Entities","id":"BikePoints_160","url":"/Place/BikePoints_160","commonName":"Waterloo
        Place, St. James''s","placeType":"BikePoint","additionalProperties":[],"children":[],"childrenUrls":[],"lat":51.506633,"lon":-0.131773},{"$type":"Tfl.Api.Presentation.Entities.Place,
        Tfl.Api.Presentation.Entities","id":"BikePoints_228","url":"/Place/BikePoints_228","commonName":"St.
        James''s Square, St. James''s","placeType":"BikePoint","additionalProperties":[],"children":[],"childrenUrls":[],"lat":51.507424,"lon":-0.134621}]'
  recorded_at: Fri, 11 Dec 2020 20:26:22 GMT
recorded_with: VCR 6.0.0
