---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&neLat=51.5138453&neLon=-0.0983506&swLat=51.5007292&swLon=-0.1246254
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Place
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - BikePoint_GetAll
      X-Api:
      - BikePoint
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Place, Tfl.Api.Presentation.Entities","id":"BikePoints_48","url":"/Place/BikePoints_48","commonName":"Godliman
        Street, St. Paul''s","placeType":"BikePoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"TerminalName","sourceSystemKey":"BikePoints","value":"000971","modified":"2020-12-11T20:21:16.93Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Installed","sourceSystemKey":"BikePoints","value":"true","modified":"2020-12-11T20:21:16.93Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Locked","sourceSystemKey":"BikePoints","value":"false","modified":"2020-12-11T20:21:16.93Z"},{"$type":"Tfl.Api.P[...]
