---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/BikePoint/BikePoints_10?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Place
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - BikePoint_Get
      X-Api:
      - BikePoint
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.Place, Tfl.Api.Presentation.Entities","id":"BikePoints_10","url":"/Place/BikePoints_10","commonName":"Park
        Street, Bankside","placeType":"BikePoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"TerminalName","sourceSystemKey":"BikePoints","value":"001024","modified":"2020-12-11T19:38:11.96Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Installed","sourceSystemKey":"BikePoints","value":"true","modified":"2020-12-11T19:38:11.96Z"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Description","key":"Locked","sourceSystemKey":"BikePoints","value":"false","modified":"2020-12-11T19:38:11.96Z"},{"$type":"Tfl.Api.P[...]
