---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Mode/tube/Arrivals?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Proxy-Connection:
      - unset
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
      X-Operation:
      - Mode_Arrivals
      X-Api:
      - Mode
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"1114956935","operationType":1,"vehicleId":"216","naptanId":"940GZZLUBLR","stationName":"Blackhorse
        Road Underground Station","lineId":"victoria","lineName":"Victoria","platformName":"Southbound
        - Platform 2","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUBXN","destinationName":"Brixton
        Underground Station","timestamp":"2020-12-11T20:26:12.4959578Z","timeToStation":69,"currentLocation":"Between
        Walthamstow Central and Blackhorse Road","towards":"Brixton","expectedArrival":"2020-12-11T20:27:21Z","timeToLive":"2020-12-11T20:27:21Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2020-12-11T20:26:02.285Z","sent":"2020-12-11T20:26:12Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"-1602659889","operationType":1,"vehicleId":"004","naptanId":"940GZZLUBKG","stationName":"Barking
        Underground Station","lineId":"district","lineName":"District","platformName":"Westbound
        - Platform 6","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUEBY","destinationName":"Ealing
        Broadway Underground Station","timestamp":"2020-12-11T20:2[...]
