---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/Mode/tube/Arrivals?app_id=TFL_APP_ID&app_key=TFL_APP_KEY&count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Entity-Payload:
      - Prediction
      X-Backend:
      - api
      X-Banning:
      - ''
      X-Ttl:
      - '60.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"604565631","operationType":1,"vehicleId":"200","naptanId":"940GZZLUBKF","stationName":"Blackfriars
        Underground Station","lineId":"hammersmith-city","lineName":"Hammersmith &
        City","platformName":"Westbound - Platform 1","bearing":"","timestamp":"2018-02-13T15:34:25Z","timeToStation":1028,"currentLocation":"Between
        Edgware Road and Baker Street","towards":"Check Front of Train","expectedArrival":"2018-02-13T15:51:33Z","timeToLive":"2018-02-13T15:51:33Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-01T00:00:00","read":"2018-02-13T15:21:33.498Z","sent":"2018-02-13T15:34:25Z","received":"0001-01-01T00:00:00"}},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"-1344972772","operationType":1,"vehicleId":"217","naptanId":"940GZZLUBKF","stationName":"Blackfriars
        Underground Station","lineId":"circle","lineName":"Circle","platformName":"Westbound
        - Platform 1","direction":"inbound","bearing":"","destinationNaptanId":"940GZZLUERC","destinationName":"Edgware
        Road (Circle Line) Underground Station","timestamp":"2018-02-13T15:34:25Z","timeToStation":399,"currentLocation":"Between
        Aldgate East and Tower Hill","towards":"Edgware Road (Circle)","expectedArrival":"2018-02-13T15:41:04Z","timeToLive":"2018-02-13T15:41:04Z","modeName":"tube","timing":{"$type":"Tfl.Api.Presentation.Entities.PredictionTiming,
        Tfl.Api.Presentation.Entities","countdownServerAdjustment":"00:00:00","source":"0001-01-01T00:00:00","insert":"0001-01-0[...]
